@{
    ViewBag.Title = "Контакты";
}
<div class="section section-gray">
    <div class="container">
        <div class="font_contact">
            <h1>Организаторы :</h1>
        </div>
        <div class="margine_all">
            <!--1-->
            <div class="col-md-2 col-xs-1  poster">
                <img class="img-thumbnail img-circle" width="178976" height="1" src=\images\Контакты\vlada.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/haradkande">Владислава<br />  Владимировна</a></h3>
                <div class="descr">
                    <p align="center">Глав. орг./ Куратор Comics дефиле/ Партнерство/ Стенды/ Ярмарка/ Фуд-корт</p>
                </div>
            </div>
            <!--3-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-circle img-thumbnail" width="300" height="600" src=\images\Контакты\valik.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/fan_of_wes_borland">Валентин <br /> Иванов</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block">Аккредитация СМИ, блогеров и видеоблогеров</p>
                </div>
            </div>
            <!--4-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\anton.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id29591271">Антон <br /> Бродинский</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block-2">Куратор группового дефиле</p>
                </div>
            </div>
            <!--5-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\aleksei.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/mr_clamp">Алексей<br />  Швец</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block-2">Куратор Game дефиле</p>
                </div>
            </div>
            <!--6-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\dasha.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/dreamgrin">Дарья<br />  Заячковская</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block">Куратор Horror дефиле/ Cosplay сценка</p>
                </div>
            </div>
        </div>
        <div class="margine_all">
            <!--7-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\liza.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id199240906">Елизавета<br />  Ланина</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block">Куратор Original дефиле/ Волонтерская служба</p>
                </div>
            </div>
            <!--8-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\Artyom.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id381485990">Артём <br /> Ржеутский</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block-2">Куратор тех. части/ Выставка</p>
                </div>
            </div>
            <!--9-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\stefan.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id47503824">Стефан<br />  Шилов</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block-2">Куратор Steampunk дефиле</p>
                </div>
            </div>
            <!--10-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\yan.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/john__y">Ян<br /> Мурашко</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block-2">Куратор сцены</p>
                </div>
            </div>
            <!--11-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\evgene.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id123122762">Евгений<br />  Дервоедов</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block">Администратор сайта / Техподдержка</p>
                </div>
            </div>
            <!--12-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\den.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id123122762">Денис<br />  Могучий</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block-2">Техподдержка</p>
                </div>
            </div>
        </div>
        <div align="center" class="margine_all">
            <!--13-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\biruk.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/v.biryuk94">Владимир <br />  Бирюк</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block-2">Куратор сцены/постановка</p>
                </div>
            </div>
            <!--14-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\kate.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id19641790">Екатерина<br />  Лодянова</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block-2">Крафт/мастер-классы</p>
                </div>
            </div>
            <!--15-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\denis.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/unlimitt">Денис<br />  Гаврилов</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block-2">Game zone</p>
                </div>
            </div>
            <!--16-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\oleg.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/zamok_1995">Олег<br />  Замжицкий</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block">Соревнования/ выставка/ тех.часть</p>
                </div>
            </div>
            <!--17-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\inna.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id150611751">Инна<br />  Иванова</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block">Тех.часть/ Соревнования/Выставка</p>
                </div>
            </div>
            <!--18-->
            <div class="col-md-2 col-xs-1 poster">
                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\valentina.jpg>
                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/killendivey">Валентина <br />  Добрякова</a></h3>
                <div class="descr">
                    <p align="center" class="text-center center-block-2">Лектор</p>
                </div>
            </div>
        </div>
    </div>
    <a class="shadow" href="/"><h2 align="center">На главную ---></h2></a>
</div>
